div {
  padding-left: 50px;
    }
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
hr {
    border-width: 3px;
}
#intro-paragraph {
    padding-right: 50%;
}

div.container-fluid{
    font-family:"Adobe Heiti", sans-serif;
    font-weight:"bold";
}
