div {
  padding-left: 50px;
    }
div.gallery {
    margin: 5px;
    padding-left: auto;
    padding-right: auto;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 100px;
}

div.desc {
    padding: 15px;
    text-align: center;
}
hr {
    border-width: 3px;
}
p {
    padding-right: 50%;
}

div.container-fluid{
    font-family: "Adobe Heiti", sans-serif;
    font-weight: "bold";
}

#index-background {
    background-image: url(pictures/background.gif);
    height:1200px;

}

.carousel {
  background-color:rgb(127, 127, 127);
}

footer {
  color:rgb(127, 127, 127);
  display:block;
  padding-bottom: auto;
  opacity:1;
  background-color: rgba(127,127,127,0.2);
}

div.thumbnail img {
    height:250px;
    width:100%;
}

#project-gallery {
  padding-right:50px;
}

.footer {
  padding-bottom:75px;
}
