div {
  padding-left: 50px;
    }
div.gallery {
    margin: 5px;
    padding-left: auto;
    padding-right: auto;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;
}

hr {
    border-width: 2px;
}
p {
    padding-right: 50%;
}

div.container-fluid{
    font-family: "Adobe Heiti", sans-serif;
    font-weight: "bold";
}

#index-background {
    background-image: url(pictures/background.gif);
    height:1000px;
    padding-top:0;

}

footer {
  color:rgb(127, 127, 127);
  display:block;
  padding-bottom: auto;
  opacity:1;
  background-color: rgba(127,127,127,0.2);
}

div.thumbnail img {
    height:250px;
    width:100%;
}

#project-gallery {
  padding-right:50px;
}

.footer {
  padding-bottom:75px;
}

#intro-paragraph {
  padding-left:40px;
  padding-right:120px;
  padding-bottom:20px;
  padding-top:15px;
}

.subcaption {
  padding-right:0;
  color:rgb(127, 127, 127);
}

.caption-title {
  margin-top:0;
}

#ripta-background {
  margin-bottom:10px;
}

.carousel {
  padding-bottom: 25px;
  padding-left:0;
  padding-right:50px;
  width:100%;
}
.carousel img {padding-top: 20px;}
.carousel h2 {color: #0072b5;}
.carousel col-lg-4 p {text-align: center;}

.carousel-subcaption {
  padding-right:0;
  margin-left:15%;
  margin-right:15%;
}
